body, html{
	height: 100%;
}

.sec-home {
	background-image: -webkit-linear-gradient(270deg, #053376, #053376);
	background-image: linear-gradient(180deg, #053376, #053376);
	height: 100%;
}

.menu-home ul{
	list-style: none;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}

.menu-home li{
	cursor: pointer;
}

.menu-home p{
	margin-top: 10px;
}

.titulo-home {
	margin-bottom: 50px;
	color: #fff;
	font-size: 80px;
	text-align: center;
	font-weight: 800;
}

.logo-home {
	display: block;
	margin: 20px auto;
	width: 200px;
}

.titulo-sec {
	display: block;
	margin: 50px auto;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.titulo-sec.titulo-branco {
	color: #fff;
}

.videos {
  margin-top: 10px;
  margin-bottom: 30px;
}

.section-all.equipe {
  background-color: #ececec;
  text-align: center;
}

.thinglink{
	margin-bottom: 20px;
}

.arte-tabela {
	display: block;
	margin: 30px auto;
	padding-top: 0px;
}

.sec-rascunho {
	background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), -webkit-linear-gradient(270deg, rgba(80, 76, 76, .38), rgba(80, 76, 76, .38));
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(180deg, rgba(80, 76, 76, .38), rgba(80, 76, 76, .38));
}

.sec-cpf {
	background-color: #ed145b;
	color: white;
	overflow: hidden;
	height: 596px;
}

.cartao-cpf{
	position: relative;
	left: 150px;
	bottom: 90px;
	z-index: 0;
	display: block;
}

.duas-colunas {
	position: relative;
	z-index: 2;
}

.sec-computador {
	background-image: -webkit-linear-gradient(270deg, #fff, #fff);
	background-image: linear-gradient(180deg, #fff, #fff);
}

.devices{
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
}

.sec-entrevista {
	background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
}

.sec-malha {
	background-image: -webkit-linear-gradient(270deg, #053376, #053376);
	background-image: linear-gradient(180deg, #053376, #053376);
}

.sec-erros {
	background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
	background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
}

.sec-dicas {
	background-color: #ed145b;
	color: white;
}

.bxslider li{
	padding: 20px 80px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.bxslider h1{
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 800;
}

.bxslider p{
	font-size: 20px;
	margin-top: 10px;
}

.embed-sound{
	width: 100%;
}

.bxtabela li{
	padding: 0px !important;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

/*TABLET*/
@media (max-width: 991px) {

}

/*CELULAR PAISAGEM*/
@media (max-width: 767px) {

}

/*CELULAR RETRATO*/
@media (max-width: 479px) {
	.titulo-home{
		font-size: 40px;
	}
	.titulo-sec{
		font-size: 20px;
	}
	.menu-home p{
		font-size: 10px;
	}

	.bxslider h1{
		font-size: 12px;
	}

	.bxslider p{
		font-size: 11px;
	}
}
